<!doctype html>
<html class="no-js" lang="en" id="ng-app" data-ng-app="xplosion-site">
<head>
 <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');

          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
      <![endif]-->
      <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>X-PLOSION | Soda That Pops, Flavors That Explode</title>
	{{ "app.css" | asset_url | stylesheet_tag }}
	{{ "foundation-icons.css" | asset_url | stylesheet_tag }}
	
	{{ "font-awesome.css" | asset_url | stylesheet_tag}}
	{{ "flexslider.css" | asset_url | stylesheet_tag }}

	{{ "modernizr.js" | asset_url | script_tag }}
	{% include "scripts" %}


</head>
<body data-ng-controller="BlogController as blog">
	<header>
		<div id="header" class="row">
			<div id="logo" class="large-4 columns"><img src="assets/images/xplosion-logo.png" alt="logo"></div>
			<div id="banner" class="large-4 columns text-center"><img src="assets/images/banner.png" alt="banner"></div>
			<div id="search" class="large-4 columns text-right">
				<form class="inline">
					<input type="search" class="radius" placeholder="Search X-Plosion..." value="Search X-Plosion..."><a href="#" class="button tiny radius">Search</a>
				</form>
			</div>
		</div>
		<nav id="main-menu" class="row" role="navigation">
			<ul>
				<li data-ng-class="{ active:page.isSelected('home.html')}"><a data-ng-click="blog.selectPage('home.html')" class="button">Home</a></li>
				<li data-ng-class="{ active:page.isSelected('blog.html')}"><a data-ng-click="blog.selectPage('blog.html')" class="button">Blog</a></li>
				<li><a href="#" class="button">Our Products</a>
					<ul>
						<li><a href="#" class="button">X-Plosion</a></li>
						<li><a href="#" class="button">Flavors</a></li>
						<li><a href="#" class="button">Merchandise</a></li>
					</ul>
				</li>
				<li><a href="#" class="button">About Us</a></li>
				<li><a href="#" class="button">Where To Buy</a></li>
				<li><a href="#" class="button">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<div class="row">
		<section data-ng-include="blog.currentPage" class="large-8 columns">
			Stuff{% comment %}{% block content %}{% endblock %}{% endcomment %}
		</section>
		{% include "sidebar" %}
	</div>
	{% include "footer" %}
</body>
</html>